<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
    <a href="#">
        <div class="blockProdList">
            <div class="blockProdList__img">
                <img src="img/products/1.jpg" class="img-responsive" alt="">
            </div>
            <div class="blockProdList__text">
                <h4 class="blockProdList__text__title">Перголы</h4>
                <p class="blockProdList__text__desc">навесы с моторизированными тентами для веранд</p>
                <p class="blockProdList__text__detail">Длина (max): до 13.00 м
                    Вынос: до 10.00 м</p>
            </div>
        </div>
    </a>
</div>