$borderRadius : 12px;
.categoryText {
  background-color: #eeeeee;
  padding:30px 0;
  margin:10px 0;
  .title h1{
    font-size:24px;
    font-weight: bold;
  }
  .text {
    font-size: 16px;
  }
}
.blockCategory {
  margin-top:10px;
  a:hover {
    text-decoration: none;
  }
  &__left {
    margin-bottom: 20px;
    .badgeIcon {
      float: right;
    }
    .titleList {
      margin-bottom: 0;
      .badgeIcon {
        font-size:16px;
        padding-top:8px;
      }
      a {
        color: white;
        font-size: 24px;
        background-color: #008080;
        border-radius: $borderRadius;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }
      a.borderBottom {
        border-radius: $borderRadius;
      }
    }
    .listCategory {
      margin-bottom:0;
      &__item {
        &:first-child {
          border-top: none;
          border-radius: 0;
        }
        &:hover {
          background-color: #20b2aa;
          a {
            color: white;
          }
          .badgeIcon {
            display: none;
          }
        }
        a {
          display: block;
          outline: none;
          text-decoration: none;
          color: #000;
          font-size: 14px;
        }
      }
    }
  }
}

.blockProdList {
  color: black;
  background-color: white;
  margin-bottom: 20px;
  box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.36);
  &:hover {
    opacity: 0.8;
    box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.78);
  }
  &__img {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 180px;
  }
  &__text {
    text-align: center;
    padding-bottom: 10px;
    &__title{
      font-size: 20px;
      font-weight:bold;
    }
    &__desc{
      font-size: 15px;
    }
    &__detail{
      padding: 0 50px;
      font-size: 12px;
    }
  }
}