.header {
  padding: 15px 0;
  padding-bottom: 5px;
  .navbar-collapse {
    padding: 0 0;
  }
  .nav {
    font-family: $fontLight;
    font-size: 18px;
  }
  .btn_navbar {
    border: 1px solid grey;
    float: left;
    padding: 10px 15px;
  }
}
.nav {
  margin-bottom: 0;
  li {
    a {
      color: black;
    }
    a:hover,a:focus {
      background-color: inherit;
      color: $colorMainText;
      box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.18);
    }
    &.active,&.current-menu-item {
      font-weight: bold;
    }
  }
}
footer {
  .nav {
    font-size: 20px;
  }
  .navbar-collapse {
    padding: 0 0;
  }
}
.mainContacts {
  font-family: $fontBold;
  font-size: 22px;
  color: $colorMainText;
  text-align: right;
  a {
    color: $colorMainText;
    &:focus,&:hover{
      outline: none;
      text-decoration: none;
    }
  }
}
.mainDescription {
  margin-top: 20px;
  .blockMainDesc {
    background: white url("../img/bg_main_desc.jpg");
    min-height: 400px;
    padding:40px 0;
    margin-bottom: 5px;
  }
  p {
    font-size: 21px;
    color: white;
  }
}
.social{
  text-align: right;
  a {
    color: $colorSecMain;
    font-size: 28px;
    padding: 0 10px;
  }
  a:hover,a:focus {
    background-color: inherit;
    color: $colorMainText;
  }
}
.blockService {
  margin: 20px 0;
  min-height: 360px;
  &:hover {
    opacity: 0.8;
    box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.78);
  }
  a {
    color: #000;
    &:hover {
      text-decoration: none;
    }
  }
  .blockImg {
    display: flex;
    justify-content: center;
    text-align: center;
    height: 280px;
    padding: 5px;
    padding-top: 10px;
    img {
      height: 100%;
    }
  }
  .blockText {
    text-align: center;
    h4 {
      font-size: 18px;
      font-weight: bold;
    }
    span {
      font-family: $fontLight;
      font-size: 14px;
    }

  }
}
section.carusel {
  max-width: 1920px;
  margin: 0 auto;
}
.kama_breadcrumbs {
  .kb_sep {
    margin: 0 5px;
    font-weight: bold;
  }
  a {
    text-decoration: underline;
    color: #333;
    &:hover {
      color: $colorMainText;
    }
  }

}